.col-10-1 {
  width: 10%;
}
.col-10-2 {
  width: 20%;
}
.col-10-3 {
  width: 30%;
}
.col-10-4 {
  width: 40%;
}
.col-10-5 {
  width: 50%;
}
.col-10-6 {
  width: 60%;
}
.col-10-7 {
  width: 70%;
}
.col-10-8 {
  width: 80%;
}
.col-10-9 {
  width: 90%;
}
.col-10-10 {
  width: 100%;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
}
.line {
  margin: 0 -10px;
  font-size: 0;
}
.line [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  font-size: 16px;
}
.line--center {
  text-align: center;
}
.line--mb-10 {
  margin-bottom: 10px;
}
.line--mb {
  margin-bottom: 30px;
}
.line--mb-100 {
  margin-bottom: 200px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.row {
  font-size: 0;
}
.row [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  font-size: 16px;
}
.row [class^=col-]:first-child {
  padding-left: 0;
}
.row [class^=col-]:last-child {
  padding-right: 0;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-image: url(../img/body/background.png);
  background-attachment: fixed;
  font-family: 'Cuprum', sans-serif;
  color: #515151;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
ul,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
.link {
  color: #515151;
}
.link:hover {
  color: #496f33;
}
.link:visited {
  color: #515151;
}
.paragraph {
  text-indent: 20px;
}
.paragraph a {
  color: #515151;
}
.paragraph a:hover {
  color: #496f33;
}
.page-title {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
}
.bread-crumbs {
  margin-bottom: 10px;
}
.bread-crumbs li {
  display: inline-block;
  vertical-align: middle;
}
.bread-crumbs li a {
  display: inline-block;
  vertical-align: middle;
  color: #515151;
  font-size: 14px;
  padding-bottom: 2px;
}
.bread-crumbs li a:hover {
  color: #496f33;
}
.bread-crumbs li:before {
  content: "/\00a0";
  padding: 0 5px;
}
.bread-crumbs li:first-child:before {
  content: "";
  padding: 0;
}
.mb {
  margin-bottom: 30px;
}
.mb-xs {
  margin-bottom: 15px;
}
#___plusone_0 iframe {
  display: block;
}
.list-dot {
  padding-left: 10px;
  list-style-type: circle;
}
.fb-like iframe {
  display: block;
}
.g-plus {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
}
.img-wrap {
  margin-bottom: 20px;
  overflow: hidden;
}
.img-wrap img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
}
.work-list {
  text-align: center;
}
.work-list__img {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}
.work-list__txt {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}
.info-section {
  border: 1px solid #a0a0a0;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  box-shadow: 3px 3px 3px #d3d3d3;
  margin-bottom: 20px;
}
.info-section__wrap {
  padding: 20px;
}
.info-section--center {
  text-align: center;
}
.info-section__title {
  font-size: 20px;
  font-weight: bold;
  color: #496f33;
  margin-bottom: 20px;
}
.info-section__sub-title {
  font-size: 20px;
  font-weight: bold;
  color: #496f33;
  margin-bottom: 20px;
  text-align: center;
}
.info-section__text img {
  max-width: 300px;
  max-height: 300px;
  float: left;
  margin: 2px 10px 10px 0;
  border: 1px solid #515151;
  border-radius: 5px;
}
.info-section__img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #000;
}
.info-section__atention {
  padding-left: 80px;
  background: url('../img/advantages/atention.png') no-repeat 0% 20%;
  background-size: 65px;
  min-height: 70px;
  margin-top: 20px;
}
.info-section__atention-title {
  margin-bottom: 10px;
  font-weight: bold;
}
.info-section__img-sm {
  width: 25%;
}
.info-section__video {
  display: inline-block;
  vertical-align: middle;
  width: 98%;
  padding: 5px 0;
  border: none;
}
.info-section__video-desc {
  padding-bottom: 5px;
}
.info-section--404 {
  text-align: center;
  min-height: 400px;
}
.info-section__tel {
  font-size: 30px;
  margin-bottom: 10px;
}
.cycloneslider-template-standard .cycloneslider-pager span {
  background-color: #496f33;
}
.form-base {
  background: url('../img/forms/apartmentsform_background.jpg');
  width: 100%;
  padding: 20px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #515151;
  /*
		position: relative;
		&:before {
			content: "";
	    width: 100%;
	    min-height: 100%;
	    background: rgba(73,92,95,.45);
	    position: absolute;
	    top: 0;
	    left: 0;
		}
	*/
}
.form-base .ajax-loader {
  display: none;
}
.form-base__promo {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 80%;
  margin-bottom: 15px;
  clear: both;
}
.form-base__promo-title {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #496f33;
}
.form-base__promo-title--mb {
  margin-bottom: 20px;
}
.form-base__promo-txt {
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: #515151;
}
.form-base__promo-txt--mb {
  margin-bottom: 20px;
}
.form-base__txt {
  width: 50%;
  margin-bottom: 15px;
}
.form-base-btns {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 45%;
}
.form-base-btns__txt {
  border: 1px #515151 solid;
  border-radius: 5px;
  color: #515151;
  font-size: 16px;
  text-align: left;
  box-shadow: 1px 1px 1px #B1D29D;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  width: 270px;
  margin-bottom: 2px;
}
.form-base-btns input[type="submit"].form-base-btns__submit {
  display: inline-block;
  vertical-align: middle;
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  background: #496f33 linear-gradient(to top, #496f33, #7db55b);
  box-shadow: inset #496f33 0 -1px 1px, inset 0 1px 1px #496f33, #496f33 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
}
.form-base-btns input[type="submit"].form-base-btns__submit:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
.form-base-btns input[type="submit"].form-base-btns__submit:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffffdd, 0 0 8px #ffffff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #ffffff, inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
.form-base--main {
  background: url('../img/forms/mainform_background.jpg');
  background-size: cover;
  min-height: 320px;
}
.form-base--main .form-base__promo {
  text-align: right;
  float: right;
  margin-bottom: 40px;
}
.form-base--main .form-base-btns {
  text-align: right;
  width: 55%;
  float: right;
}
.form-base--apartments {
  background: url('../img/forms/apartmentsform_background.jpg');
  background-size: cover;
}
.form-base--build {
  background: url('../img/forms/build_background.jpg');
  background-size: cover;
}
.form-base--build .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--build .form-base-btns {
  text-align: right;
  float: right;
}
.form-base--repair-base {
  background: url('../img/forms/repair_background.jpg');
  background-size: cover;
}
.form-base--repair-base .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--repair-base .form-base-btns {
  text-align: right;
  width: 85%;
  float: right;
}
.form-base--general-basic {
  background: url('../img/forms/cleangeneral_background.jpg');
  background-size: cover;
}
.form-base--general-basic .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--general-basic .form-base-btns {
  text-align: right;
  width: 55%;
  float: right;
}
.form-base--complex-basic {
  background: url('../img/forms/complex_background.jpg');
  background-size: cover;
}
.form-base--complex-basic .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--complex-basic .form-base-btns {
  text-align: right;
  width: 55%;
  float: right;
}
.form-base--office-repair {
  background: url('../img/forms/office_repair_background.jpg');
  background-size: cover;
}
.form-base--office-repair .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--office-repair .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--repair-basic {
  background: url('../img/forms/repeatclean_background.jpg');
  background-size: cover;
}
.form-base--room-repair {
  background: url('../img/forms/room_repair_background.jpg');
  background-size: cover;
}
.form-base--room-repair .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--room-repair .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--office {
  background: url('../img/forms/office_background.jpg');
  background-size: cover;
}
.form-base--room {
  background: url('../img/forms/room_background.jpg');
  background-size: cover;
}
.form-base--shop {
  background: url('../img/forms/shop_background.jpg');
  background-size: cover;
}
.form-base--shop .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--shop .form-base-btns {
  text-align: right;
  width: 55%;
  float: right;
}
.form-base--factory {
  background: url('../img/forms/factory_background.jpg');
  background-size: cover;
}
.form-base--area {
  background: url('../img/forms/area_background.jpg');
  background-size: cover;
}
.form-base--area .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--area .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--stock {
  background: url('../img/forms/stock_background.jpg');
  background-size: cover;
}
.form-base--stock .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--stock .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--snow {
  background: url('../img/forms/snow_background.jpg');
  background-size: cover;
}
.form-base--snow .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--snow .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--house {
  background: url('../img/forms/houseform_background.jpg');
  background-size: cover;
}
.form-base--dry-cleaning {
  background: url('../img/forms/dryclean_background.jpg');
  background-size: cover;
}
.form-base--dry-cleaning .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--dry-cleaning .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--dry-cleaning-covrolin {
  background: url('../img/forms/dryclean_covrolin_background.jpg');
  background-size: cover;
}
.form-base--dry-cleaning-furniture {
  background: url('../img/forms/dryclean_furniture_background.jpg');
  background-size: cover;
}
.form-base--dry-cleaning-furniture .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--dry-cleaning-furniture .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--dry-cleaning-sofa {
  background: url('../img/forms/dryclean_sofa_background.jpg');
  background-size: cover;
}
.form-base--dry-cleaning-sofa .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--dry-cleaning-sofa .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--dry-cleaning-carpet {
  background: url('../img/forms/dryclean_carpet_background.jpg');
  background-size: cover;
}
.form-base--dry-cleaning-carpet .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--dry-cleaning-carpet .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--dry-cleaning-arm-chair {
  background: url('../img/forms/dryclean_arm-chair_background.jpg');
  background-size: cover;
}
.form-base--dry-cleaning-arm-chair .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--dry-cleaning-arm-chair .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--windows {
  background: url('../img/forms/windows_background.jpg');
  background-size: cover;
}
.form-base--windows .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--windows .form-base-btns {
  text-align: right;
  width: 55%;
  float: right;
}
.form-base--cottage-complex {
  background: url('../img/forms/cottage_complex_background.jpg');
  background-size: cover;
}
.form-base--cottage-complex .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--cottage-complex .form-base-btns {
  text-align: right;
  width: 55%;
  float: right;
}
.form-base--cottage-repair {
  background: url('../img/forms/cottage_repair_background.jpg');
  background-size: cover;
}
.form-base--cottage-repair .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--cottage-repair .form-base-btns {
  text-align: right;
  width: 55%;
  float: right;
}
.form-base--repeat {
  background: url('../img/forms/repeatform_background.jpg');
  background-size: cover;
}
.form-base--repair {
  background: url('../img/forms/repairform_background.jpg');
  background-size: cover;
}
.form-base--general {
  background: url('../img/forms/generalcleanform_background.jpg');
  background-size: cover;
}
.form-base--complex {
  background: url('../img/forms/complexform_background.jpg');
  background-size: cover;
}
.form-base--complex .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--complex .form-base-btns {
  text-align: right;
  width: 55%;
  float: right;
}
.form-base--cottage {
  background: url('../img/forms/uborka_koteja.jpg');
  background-size: cover;
}
.form-base--cottage-repeat {
  background: url('../img/forms/cottage_repeat_background.jpg');
  background-size: cover;
}
.form-base--cottage-general {
  background: url('../img/forms/cottage_general_background.jpg');
  background-size: cover;
}
.form-base--house-general {
  background: url('../img/forms/house_general_background.jpg');
  background-size: cover;
}
.form-base--house-general .form-base__promo {
  text-align: right;
  float: right;
}
.form-base--house-general .form-base-btns {
  text-align: right;
  width: 75%;
  float: right;
}
.form-base--house-repeat {
  background: url('../img/forms/house_repeat_background.jpg');
  background-size: cover;
}
.form-base--house-repair {
  background: url('../img/forms/house_repair_background.jpg');
  background-size: cover;
}
.form-aside {
  background: linear-gradient(#496f33, #7db55b, #496f33);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #a0a0a0;
}
.form-aside img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
}
.form-aside__title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 20px;
}
.form-aside__manager {
  font-size: 12px;
}
.form-aside__label {
  color: #fff;
  font-size: 15px;
}
.form-aside__txt {
  width: 100%;
  margin-bottom: 5px;
  resize: none;
  font-size: 15px;
  border-radius: 1px;
  border: none;
  height: 25px;
}
.form-aside #form-aside__txt-area {
  height: 80px;
}
.form-aside input[type="submit"].form-aside__submit {
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  color: #515151;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: .3em 1em;
  outline: none;
  border: 1px solid #6B8E23;
  border-radius: 5px;
  margin-top: 5px;
  background: #fafafa;
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}
.form-aside input[type="submit"].form-aside__submit:hover {
  cursor: pointer;
}
.form-aside input[type="submit"].form-aside__submit:active {
  top: 1px;
  color: #a0a0a0;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffffdd, 0 0 8px #ffffff;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px #ffffff, inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}
.form-call-rating {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
.form-call-rating__title {
  font-weight: bold;
  font-size: 16px;
}
.form-call-rating__call {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
.form-call-rating__txt {
  border: 1px #515151 solid;
  border-radius: 5px;
  color: #515151;
  font-size: 16px;
  text-align: left;
  box-shadow: 1px 1px 1px #B1D29D;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  width: 200px;
  margin-bottom: 2px;
}
.form-call-rating__submit {
  border: 1px #808080 ridge;
  border-radius: 5px;
  background-color: #496f33;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}
.form-green {
  padding: 20px;
  background: linear-gradient(#496f33, #7db55b, #496f33);
  font-size: 0;
  border-radius: 5px;
}
.form-green__head {
  margin-bottom: 15px;
}
.form-green__txt {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}
.form-green__txt p {
  font-size: 25px;
  color: #fff;
}
.form-green img {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
}
.form-green__input-txt {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 5px;
  margin-right: 15px;
  outline: none;
  border: 1px solid #a0a0a0;
}
.form-green__input-tel {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 5px;
  margin-right: 15px;
  outline: none;
  border: 1px solid #a0a0a0;
}
.form-green__input-submit {
  width: 180px;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 5px;
  margin-right: 15px;
  border: 1px solid #6B8E23;
  text-decoration: none;
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
  font-size: 16px;
  /*

	    font-weight: 700;
	    color: #515151;
	    text-shadow: 0 -1px rgba(0, 0, 0, 0.1);

	    padding: .3em 1em;
	    outline: none;

	    border-radius: 5px;
	    margin-top: 5px;
	    background: #fafafa;

*/
}
.form-ugly {
  border: 1px solid #a0a0a0;
  border-radius: 10px 10px 0 0;
  box-shadow: 3px 3px 3px #dddddd;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 20px;
  margin-bottom: 20px;
}
.form-ugly__line {
  margin-bottom: 15px;
}
.form-ugly__title {
  font-size: 20px;
  font-weight: bold;
  color: #496f33;
  text-align: center;
}
.form-ugly__title:last-of-type {
  margin-bottom: 20px;
}
.form-ugly input[type="text"],
.form-ugly input[type="tel"] {
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 5px;
  width: 140px;
}
.form-ugly select {
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 5px;
}
.form-ugly span {
  margin-right: 5px;
}
.form-ugly input[type="submit"] {
  text-transform: uppercase;
  background: linear-gradient(#496f33, #7db55b, #496f33);
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 5px 35px;
  color: #fff;
  margin-left: 150px;
  font-weight: bold;
}
div.wpcf7 img.ajax-loader {
  display: none;
}
.header {
  background: #fafafa;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 2px #d3d3d3;
  font-size: 16px;
  z-index: 100;
}
.header .color_line {
  background-color: #515151;
  height: 1px;
}
.header__nav {
  text-align: justify;
  line-height: 0;
}
.header__nav:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.header__nav-item {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
  position: relative;
}
.header__nav-item a {
  color: #515151;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  font-size: 16px;
}
.header__nav-item a:hover {
  color: #496f33;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__tizer {
  float: left;
  margin-top: 10px;
}
.header__tizer-logo {
  display: inline-block;
  vertical-align: middle;
}
.header__tizer-logo img {
  height: 33px;
  margin-right: 15px;
}
.header__tizer-promo {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-bottom: 8px;
}
.header__contacts {
  float: right;
  text-align: right;
}
.header__contacts-tel {
  font-weight: bold;
  font-size: 26px;
  font-family: Helvetica;
  line-height: 26px;
  color: #515151;
}
.header__contacts-tel span {
  font-size: 20px;
  color: #496f33;
}
.header__contacts-call-us {
  color: #496f33;
  font-size: 14px;
}
.header .line [class^=col-] {
  vertical-align: middle;
}
.header__nav-toggle {
  display: none;
}
.main {
  margin-top: 50px;
}
.main__txt {
  font-size: 16px;
}
.main__txt a {
  color: #515151;
}
.main__txt:last-of-type {
  margin-bottom: 20px;
}
.services__title {
  color: #496f33;
  font-size: 20px;
  margin-bottom: 40px;
}
.services__title--non-mb {
  margin-bottom: 10px;
}
.services__section {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  padding-left: 65px;
  box-shadow: 3px 3px 3px #dddddd;
  position: relative;
  margin-bottom: 50px;
  margin-left: 45px;
}
.services__section h2 > a {
  color: #696969;
  margin-bottom: 15px;
  font-size: 18px;
}
.services__section ul {
  list-style-type: disc;
}
.services__section ul li > a {
  font-size: 16px;
  color: #696969;
}
.services__section:before {
  position: absolute;
  height: 78px;
  width: 84px;
  background: url('../img/sections/flat.png');
  left: -40px;
  top: -20px;
  content: "";
}
.services__section--balcony h2 {
  margin: 0;
}
.services__section--balcony:before {
  background: url('../img/sections/balcony.png');
}
.services__section--house:before {
  background: url('../img/sections/house.png');
}
.services__section--cottage:before {
  background: url('../img/sections/cottage.png');
}
.services__section--dry-cleaning:before {
  background: url('../img/sections/dry-cleaning.png');
}
.services__section--office:before {
  background: url('../img/sections/office.png');
}
.services__section--placement:before {
  background: url('../img/sections/placement.png');
}
.services__section--snow:before {
  background: url('../img/sections/snow.png');
}
.services__section--territory:before {
  background: url('../img/sections/territory.png');
}
.services__section--dry-cleaning-office:before {
  background: url('../img/sections/dry-cleaning-office.png');
}
.services__section--mountaineering:before {
  background: url('../img/sections/mountaineering.png');
}
.services__section--spec:before {
  background: url('../img/sections/spec.png');
}
.oferta {
  color: #A0A0A0;
  font-size: 11px;
  margin-bottom: 30px;
}
.about {
  margin-top: 50px;
  min-height: 800px;
}
.about__map {
  border: 1px solid #515151;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.about__map img {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}
.about__list-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}
.about__list a {
  color: #515151;
}
.service {
  margin-top: 50px;
}
.feedbacks {
  margin-top: 50px;
}
.feedbacks__arrow {
  font-size: 19px;
  color: #496f33;
  margin-bottom: 30px;
}
.feedbacks__img {
  margin-bottom: 5px;
}
.feedbacks__img img {
  width: 100%;
}
.feedbacks__name {
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
}
.feedbacks__more {
  text-align: center;
  margin-bottom: 30px;
}
.feedbacks__more a {
  color: #515151;
  font-weight: bold;
  font-size: 19px;
}
.feedbacks__more a:hover {
  color: #496f33;
}
.section-feedbacks {
  position: relative;
}
.section-feedbacks img {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding-right: 10px;
}
.section-feedbacks p {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  font-style: oblique;
  font-weight: normal;
}
.section-feedbacks__feedback {
  font-size: 0;
  margin-bottom: 10px;
}
.section-feedbacks__link {
  position: absolute;
  content: "<a href='#'>Туда</a>";
  width: 120px;
  height: 90px;
  bottom: 30px;
  right: -140px;
  background: url('../img/btns/more_feedback.png') no-repeat;
  background-size: 120px;
}
.advantages {
  margin-top: 50px;
}
.advantages__advantage {
  padding: 10px 0 10px 50px;
}
.advantages__advantage--qualification {
  background: url('../img/advantages/qualification.png') 0 50% no-repeat;
  background-size: 35px 35px;
}
.advantages__advantage--quality {
  background: url('../img/advantages/quality.png') 0 50% no-repeat;
  background-size: 35px 35px;
}
.advantages__advantage--safety {
  background: url('../img/advantages/safety.png') 0 50% no-repeat;
  background-size: 35px 35px;
}
.advantages__advantage--speed {
  background: url('../img/advantages/speed.png') 0 50% no-repeat;
  background-size: 35px 35px;
}
.advantages__call-us {
  padding: 10px 120px;
  background-color: #496f33;
  color: #fff;
  border-radius: 5px;
}
.advantages__call-us img {
  max-height: 120px;
  max-width: 120px;
  margin-right: 30px;
}
.advantages__call-us .line [class^=col-] {
  vertical-align: middle;
}
.advantages__call-us-action {
  font-size: 25px;
}
.advantages__advantage-company {
  margin-bottom: 15px;
  font-size: 0;
}
.advantages__advantage-company-icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5%;
  width: 30%;
}
.advantages__advantage-company-icon {
  display: table;
  text-align: center;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #7db55b;
}
.advantages__advantage-company-icon p {
  display: table-cell;
  vertical-align: middle;
  font-size: 17px;
}
.advantages__advantage-company-icon span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
}
.advantages__advantage-company-txt {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  padding-left: 5px;
  font-size: 16px;
}
.advantages_list {
  text-align: center;
  font-size: 0;
  margin-bottom: 20px;
}
.advantages_list img {
  width: 45%;
  min-height: 70px;
}
.advantages_list__item-wrap {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 0 5px;
}
.advantages_list__item {
  text-align: center;
  border: 1px solid #d3d3d3;
  border-top: none;
  min-height: 130px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 4px 8px 8px #dddddd;
}
.advantages_list p {
  font-size: 13px;
  color: #696969;
}
.advantages_table {
  font-size: 0;
}
.advantages_table__cell {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
.advantages_table__cell-img {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}
.advantages_table__cell-info {
  width: 85%;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}
.advantages_table__cell-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.advantages_table__cell-txt {
  font-size: 15px;
  text-indent: 20px;
}
.contacts {
  margin-top: 50px;
  min-height: 750px;
}
.jobs {
  margin-top: 50px;
}
.call-rating {
  margin-top: 100px;
}
.call-rating__steps {
  position: relative;
}
.call-rating__steps img {
  width: 120px;
  height: 120px;
  margin-left: 10px;
  position: absolute;
  z-index: 1;
}
.call-rating__steps p {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  z-index: 2;
  color: #fff;
  background: url('../img/advantages/steps.png') no-repeat 10% 10%;
  background-size: 100%;
  padding: 5px 5px;
  line-height: 20px;
  top: 80px;
}
.footer {
  background-color: #515151;
  position: relative;
  padding: 10px 0;
  margin-top: 40px;
  min-height: 87px;
  min-width: 1000px;
}
.footer a:hover {
  color: #496f33;
}
.footer__copyright {
  color: #A0A0A0;
}
.footer__politics {
  margin-right: 10px;
}
.footer__politics a {
  color: #A0A0A0;
}
.footer__nav {
  text-align: center;
}
.footer__nav-link a {
  color: #A0A0A0;
}
.footer__adress {
  color: #A0A0A0;
  text-align: center;
}
.footer__adress a {
  color: #A0A0A0;
}
.footer__contacts {
  text-align: right;
}
.footer__contacts-tel {
  font-size: 32px;
  color: #dcdcdc;
  font-family: Helvetica;
  font-weight: bold;
}
.footer__contacts-tel span {
  font-size: 22px;
}
.footer__contacts-call-us {
  font-size: 22px;
  color: #dcdcdc;
  margin-right: 10px;
}
.footer .line [class^=col-] {
  vertical-align: middle;
}
.footer:after {
  content: "";
  position: absolute;
  height: 65px;
  width: 65px;
  background: url('../img/body/logo_xs.png') no-repeat;
  background-size: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: -32px;
}
.footer .fb_iframe_widget {
  right: 10px;
}
.cleaning-list__item {
  position: relative;
  min-height: 100px;
  margin-bottom: 20px;
}
.cleaning-list__item img {
  height: 100px;
  width: 100px;
}
.cleaning-list__item h4 {
  margin-bottom: 5px;
}
.cleaning-list__item-link {
  width: 90px;
  height: 90px;
  right: -10px;
  top: 10px;
  background-size: 90px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
}
.cleaning-list__item-link--right {
  right: -30px;
}
.cleaning-list__item p {
  width: 88%;
  text-indent: 20px;
}
.cleaning-list__title a {
  color: #696969;
}
.cleaning-list__title a:hover {
  color: #496f33;
}
.service-list {
  text-align: center;
  margin-bottom: 30px;
}
.service-list a {
  color: #696969;
  font-weight: bold;
}
.service-list a:hover {
  color: #496f33;
}
.service-list img {
  width: 80%;
}
.carpet-images img {
  width: 100%;
  margin-bottom: 20px;
}
.cleaning-repeat-table {
  border: 2px solid #496f33;
  margin-bottom: 20px;
}
.cleaning-repeat-table__row {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  font-size: 0;
}
.cleaning-repeat-table p {
  display: inline-block;
  vertical-align: middle;
}
.cleaning-repeat-table__title {
  color: #496f33;
  font-weight: bold;
  font-size: 16px!important;
}
.cleaning-repeat-table-cellone {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  border-right: 2px solid #a0a0a0;
  font-size: 14px;
  padding: 5px;
}
.cleaning-repeat-table-celltwo {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  font-size: 14px;
  text-align: center;
}
.cleaning-repeat-list {
  font-size: 14px;
}
.cleaning-repeat-list__item {
  padding-left: 60px;
  margin-bottom: 15px;
  text-indent: 20px;
  background: url('../img/advantages/person.png') no-repeat 0% 20%;
}
.cleaning-repeat-list__item-mop {
  background: url('../img/advantages/mop.png') no-repeat 0% 20%;
}
.cleaning-repeat-list__item-car {
  background: url('../img/advantages/car.png') no-repeat 0% 20%;
}
.cleaning-repeat-list__item-percent {
  background: url('../img/advantages/percent.png') no-repeat 0% 20%;
}
.cleaning-general-table {
  border: 2px solid #496f33;
  margin-bottom: 20px;
  display: table;
}
.cleaning-general-table__row {
  display: table-row;
}
.cleaning-general-table p {
  display: inline-block;
  vertical-align: middle;
}
.cleaning-general-table__title {
  color: #496f33;
  font-weight: bold;
  font-size: 16px!important;
  padding-left: 5px;
}
.cleaning-general-table-cellone {
  border-right: 2px solid #a0a0a0;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
}
.cleaning-general-table-celltwo {
  border-right: 2px solid #a0a0a0;
  font-size: 14px;
  text-align: center;
  display: table-cell;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  vertical-align: middle;
}
.cleaning-general-table-cellthree {
  font-size: 14px;
  text-align: center;
  display: table-cell;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  vertical-align: middle;
}
.cleaning-general-table-celltwothree {
  font-size: 14px;
  text-align: center;
  display: table-cell;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  vertical-align: middle;
}
.cleaning-general-list {
  font-size: 14px;
}
.cleaning-general-list__item {
  padding-left: 60px;
  margin-bottom: 15px;
  text-indent: 20px;
  background: url('../img/advantages/person.png') no-repeat 0% 20%;
}
.cleaning-general-list__item-mop {
  background: url('../img/advantages/mop.png') no-repeat 0% 20%;
}
.cleaning-general-list__item-car {
  background: url('../img/advantages/car.png') no-repeat 0% 20%;
}
@media (max-width: 640px) {
  .col-mobile-1 {
    width: 8.33333333%;
  }
  .col-mobile-2 {
    width: 16.66666667%;
  }
  .col-mobile-3 {
    width: 25%;
  }
  .col-mobile-4 {
    width: 33.33333333%;
  }
  .col-mobile-5 {
    width: 41.66666667%;
  }
  .col-mobile-6 {
    width: 50%;
  }
  .col-mobile-7 {
    width: 58.33333333%;
  }
  .col-mobile-8 {
    width: 66.66666667%;
  }
  .col-mobile-9 {
    width: 75%;
  }
  .col-mobile-10 {
    width: 83.33333333%;
  }
  .col-mobile-11 {
    width: 91.66666667%;
  }
  .col-mobile-12 {
    width: 100%;
  }
  .col-mobile-0 {
    display: none!important;
  }
  .wrapper {
    width: 320px;
  }
  .info-section__wrap {
    padding: 10px;
  }
  .cleaning-repeat-table-celltwo {
    overflow: hidden;
  }
  .page-title {
    padding: 0 5px;
  }
  .cleaning-repeat-list__item {
    padding-left: 0;
    padding-top: 60px;
    background-position: 50% 0;
  }
  .info-section__atention {
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .line--mb {
    margin-bottom: 0;
  }
  .info-section__atention {
    padding-left: 0;
    padding-top: 60px;
    background-position: 50% 0;
  }
  .header {
    width: 100%;
  }
  .header__tizer-logo-wrap {
    text-align: center;
  }
  .header__nav-item {
    display: block;
  }
  .header__nav {
    text-align: center;
  }
  .header__contacts {
    text-align: center;
    float: none;
  }
  .contacts {
    margin-top: 80px;
    min-height: 0;
  }
  .map {
    display: none;
  }
  .header__nav-toggle {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
  }
  .header__nav-toggle-bar {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 1px;
    background-color: #515151;
  }
  .header__nav-toggle-bar:last-child {
    margin-bottom: 0;
  }
  .service-list p {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
  }
  .main {
    margin-top: 80px;
  }
  .jobs {
    margin-top: 80px;
    min-height: 250px;
  }
  .feedbacks {
    margin-top: 80px;
    text-align: center;
  }
  .info-section__title {
    padding: 0 10px;
  }
  .paragraph {
    padding: 0 5px;
    margin-bottom: 5px;
  }
  .form-green {
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  .form-green__txt {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .form-green img {
    width: 40%;
    margin-bottom: 10px;
  }
  .form-green__input-txt {
    width: 90%;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .form-green__input-tel {
    width: 90%;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .form-green__input-submit {
    width: 90%;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .header__nav {
    display: none;
  }
  .form-base__promo {
    width: auto;
  }
  .form-base .form-base__promo {
    text-align: center;
    float: none;
  }
  .form-base-btns__submit {
    font-size: 15px;
    min-width: 260px;
    min-height: 35px;
  }
  .header__contacts-call-us {
    display: none;
  }
  .form-base {
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
  }
  .form-base-btns__txt {
    width: 250px;
  }
  .form-base .form-base-btns {
    width: auto;
    text-align: center;
    max-width: none;
    float: none;
  }
  .form-base__promo-title {
    font-size: 30px;
  }
  .form-base__promo-txt {
    font-size: 20px;
  }
  .form-base__promo-txt:last-child {
    margin-bottom: 30px;
  }
  .advantages_list {
    display: none;
  }
  .services {
    padding: 0 5px;
  }
  .main__txt {
    padding: 0 5px;
  }
  .about__map {
    margin: 0 5px;
  }
  .about__list {
    margin: 0 5px 20px 5px;
  }
  .about {
    min-height: 0;
    margin-top: 80px;
  }
  .bread-crumbs {
    margin: 10px;
  }
  .advantages {
    margin-top: 100px;
  }
  .advantages_table__cell {
    width: 100%;
    margin: 0 5px;
    margin-bottom: 20px;
  }
  .advantages_table__cell-title {
    line-height: 35px;
  }
  .info-section {
    margin: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  .cleaning-list__title {
    font-size: 20px;
  }
  .advantages__advantage-company {
    text-align: center;
  }
  .advantages__advantage-company-icon {
    width: 120px;
    height: 120px;
  }
  .advantages__advantage-company-icon-wrapper {
    width: 40%;
    padding: 0;
    margin-bottom: 10px;
  }
  .section-feedbacks__link {
    display: none;
  }
  .form-ugly {
    margin: 0 5px;
  }
  .form-ugly__line {
    text-align: center;
  }
  .form-ugly span {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
  .form-ugly input[type="text"],
  .form-ugly input[type="tel"],
  select {
    margin-bottom: 10px;
    width: 250px;
    height: 30px;
  }
  .form-ugly input[type="submit"] {
    margin-left: 0;
  }
  .service {
    margin-top: 80px;
  }
  .bread-crumbs {
    display: none;
  }
  .info-section__img {
    margin-bottom: 20px;
  }
  .form-base__promo-title {
    margin-bottom: 10px;
  }
  .form-base__promo {
    margin-top: 40px;
  }
  .bread-crumbs li {
    display: block;
  }
  .work-list__txt {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .cleaning-list__item-link {
    right: 10px;
  }
  .cleaning-general-list__item {
    padding-left: 0;
    padding-top: 60px;
    margin-bottom: 15px;
    text-indent: 20px;
    background-position: 50% 0%;
  }
  .section-feedbacks__feedback {
    margin-bottom: 40px;
  }
  .footer {
    text-align: center;
    display: block;
    padding-top: 30px;
    min-width: auto;
  }
  .footer__contacts {
    text-align: center;
  }
  .footer__adress {
    display: none;
  }
  .footer__politics {
    display: none;
  }
}
.article {
  border: 1px solid #a0a0a0;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 10px;
  box-shadow: 3px 3px 3px #d3d3d3;
  margin-bottom: 20px;
  padding: 20px;
}
.article__title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.article__img {
  margin-bottom: 10px;
}
.article__img img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #000;
}
.article__txt {
  font-size: 20px;
  padding: 10px;
  text-align: justify;
  text-indent: 20px;
  margin-bottom: 40px;
}
.article__txt-p {
  margin-bottom: 10px;
  text-align: justify;
}
.article__last-next {
  margin-bottom: 40px;
  overflow: hidden;
}
.article__last-next a {
  color: #1c262b;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 5px;
}
.article__last-next a:hover {
  color: #7DB376;
  border: 1px solid #7DB376;
}
.article__last-next span:first-child {
  float: left;
}
.article__last-next span:last-child {
  float: right;
}
.article__categories {
  margin-bottom: 40px;
}
.article__categories li {
  margin-bottom: 10px;
  font-size: 20px;
}
.article__side-title {
  margin-bottom: 10px;
}
.last-articles .line {
  margin: 5px -5px;
}
.last-articles .line [class^=col-] {
  vertical-align: middle;
  padding: 0 5px;
}
.last-articles__list-item:after {
  content: "";
  height: 2px;
  background-color: #7DB376;
  width: 100%;
  position: relative;
  display: inline-block;
  border-radius: 20%;
  margin-bottom: 4px;
}
.last-articles img {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}
.last-articles a {
  color: #1c262b;
  display: block;
}
