.about
{
	margin-top: 50px;
	min-height: 800px;

	&__map
	{
		border: 1px solid @grey-basic;
		border-radius: 5px;
		overflow: hidden;
		display: inline-block;
		vertical-align: middle;
		img
		{
			width:100%;
			display: inline-block;
			vertical-align: middle;
			height: auto;
		}
	}

	&__list
	{
		&-title
		{
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 5px;
		}
		a
		{
			color:@grey-basic;
		}
	}
}