.advantages
{
	margin-top: 50px;

	&__advantage
	{
		padding: 10px 0 10px 50px;

		&--qualification
		{
			background: url('../img/advantages/qualification.png') 0 50% no-repeat;
  			background-size: 35px 35px;
		}

		&--quality
		{
			background: url('../img/advantages/quality.png') 0 50% no-repeat;
  			background-size: 35px 35px;
		}

		&--safety
		{
			background: url('../img/advantages/safety.png') 0 50% no-repeat;
  			background-size: 35px 35px;
		}

		&--speed
		{
			background: url('../img/advantages/speed.png') 0 50% no-repeat;
  			background-size: 35px 35px;
		}
	}

	&__call-us
	{
		padding: 10px 120px;
		background-color: @green-basic;
		color:#fff;
		border-radius: 5px;
		img
		{
			max-height: 120px;
			max-width: 120px;
			margin-right: 30px;
		}
		.line
		{
		  & [class^=col-]
		  {
		    vertical-align: middle;
		  }
		}
	}

	&__call-us-action
	{
		font-size: 25px;
	}

	&__advantage-company
	{
		margin-bottom: 15px;
		font-size: 0;

		&-icon-wrapper
		{
			display: inline-block;
			vertical-align: middle;
			padding-right: 5%;
			width: 30%;
		}
		&-icon
		{
			display: table;
			text-align: center;
			height: 100px;
			width: 100px;
			background-color: #fff;
			border-radius:50%;
			border: 5px solid @green-another;
			p
			{
				display: table-cell;
				vertical-align: middle;
				font-size: 17px;
			}
			span
			{
				display:inline-block;
			    vertical-align:middle;
			    height:100%;
			    width:0px;
			}
		}

		&-txt
		{
			display: inline-block;
			vertical-align: middle;
			width: 70%;
			padding-left: 5px;
			font-size: 16px;
		}
	}
}

.advantages_list
{
	text-align: center;
	font-size: 0;
	margin-bottom: 20px;

	img
	{
		width: 45%;
		min-height: 70px;
	}

	&__item-wrap
	{
		display: inline-block;
	    vertical-align: top;
	    width: 20%;
	    padding: 0 5px;
	}

	&__item
	{
		text-align: center;
	    border: 1px solid @grey-ligt-aks;
	    border-top: none;
	    min-height: 130px;
	    border-radius: 0 0 10px 10px;
	    background-color: rgba(255, 255, 255, 0.35);
	    box-shadow: 4px 8px 8px @grey-shadow;


	}
	p{
		font-size: 13px;
		color: @grey-ligth;
	}
}

.advantages_table
{
	font-size: 0;
	&__cell{
		width: 50%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;


		&-img{
			width: 15%;
			display: inline-block;
			vertical-align: top;
			padding-right: 10px;
		}
		&-info{
			width: 85%;
			display: inline-block;
			vertical-align: top;
			font-size: 15px;
		}
		&-title{
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		&-txt{
			font-size: 15px;
			text-indent: 20px;
		}
	}

}