.article
{
	
	border: 1px solid #a0a0a0;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #d3d3d3;
    margin-bottom: 20px;
    padding: 20px;
	

	&__title
	{		
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	&__img
	{
				
		margin-bottom: 10px;
		
		img
		{
			width: 100%;
			height: auto;			
			border-radius: 5px;
    		border: 1px solid #000;
		}		
	}


	&__txt
	{
		font-size: 20px;
		padding: 10px;
		text-align: justify;
		text-indent: 20px;
		
		margin-bottom: 40px;
		&-p
		{
			margin-bottom: 10px;
			text-align: justify;
		}
	}

	&__last-next
	{
		margin-bottom: 40px;
		overflow: hidden;
		a
		{
			color: #1c262b;
			font-weight: bold;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #000;
			border-radius: 8px;
			padding: 5px;
			&:hover
			{
				color: #7DB376;
				border: 1px solid #7DB376;
			}
		}

		span:first-child
		{
			float: left;
		}

		span:last-child
		{
			float: right;
		}
	}

	&__categories
	{
		margin-bottom: 40px;
		li
		{
			margin-bottom: 10px;
			font-size: 20px;
		}
	}

	&__side-title
	{
		margin-bottom: 10px;
	}

}

.last-articles
{
	
	.line
	{  
		margin:5px -5px;

		& [class^=col-]
		{
		    vertical-align: middle;  
		    padding: 0 5px;
		}
	}

	&__list-item
	{		
		&:after
		{
			content: "";
			height: 2px;
		    background-color: #7DB376;
		    width: 100%;
		    position: relative;
		    display: inline-block;
		    border-radius: 20%;
		    margin-bottom: 4px;			    
		}
	}

	img
	{
	    width: 50px;
	    height: 50px;
	    border: 1px solid #000;
	}
	
	a
	{
		color: #1c262b;
		display: block;	
	}
}