.call-rating
{
	margin-top: 100px;

	&__steps
	{
		position: relative;
		img
		{
			width: 120px;
			height: 120px;
			margin-left: 10px;
			position: absolute;
			z-index: 1;
		}

		p
		{
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			z-index: 2;
			color:#fff;
			background: url('../img/advantages/steps.png') no-repeat 10% 10%;
			background-size: 100%;
  			padding: 5px 5px;			
			line-height: 20px;		
			top: 80px;	
		}
	}
}