.cleaning-list{

	&__item
	{
		position: relative;
		min-height: 100px;
		margin-bottom: 20px;

		img
		{
			height: 100px;
			width: 100px;
		}

		h4
		{
			margin-bottom: 5px;
		}
		&-link
		{
			width: 90px;
			height: 90px;
			right:  -10px;
			top: 10px;
			background-size: 90px;
			position: absolute;
			display: inline-block;
			vertical-align: middle;

			&--right
			{
				right:  -30px;
			}
		}
		p
		{
			width: 88%;
			text-indent: 20px;
		}
	}
	&__title{
		a{
			color:@grey-ligth;
			&:hover{
				color:@green-basic;
			}
		}
	}
}

.service-list{
	text-align: center;
	margin-bottom: 30px;
	a{
		color:@grey-ligth;
		font-weight: bold;
		&:hover{
			color:@green-basic;
		}
	}
	img{
		width: 80%;
	}
}


.carpet-images{
	img{
		width: 100%;
		margin-bottom: 20px;
	}
}

.cleaning-repeat-table
{
	border: 2px solid @green-basic;
	margin-bottom: 20px;
	&__row{
		border-top: 1px solid @grey-aks;
		border-bottom: 1px solid @grey-aks;
		font-size: 0;
	}

	p{
		display: inline-block;
		vertical-align: middle;
	}

	&__title{
		color:@green-basic;
		font-weight: bold;
		font-size: 16px!important;
	}

	&-cellone{
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		border-right: 2px solid @grey-aks;
		font-size: 14px;
		padding: 5px;
	}
	&-celltwo{
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		font-size: 14px;
		text-align: center;
	}

}

.cleaning-repeat-list{
	font-size: 14px;
	&__item{
		padding-left: 60px;
		margin-bottom: 15px;
		text-indent: 20px;
		background: url('../img/advantages/person.png') no-repeat 0% 20%;

		&-mop{
			background: url('../img/advantages/mop.png') no-repeat 0% 20%;
		}

		&-car{
			background: url('../img/advantages/car.png') no-repeat 0% 20%;
		}

		&-percent{
			background: url('../img/advantages/percent.png') no-repeat 0% 20%;
		}
	}
}



.cleaning-general-table{
	border: 2px solid @green-basic;
	margin-bottom: 20px;
	display: table;

	&__row
	{
		display: table-row;

	}

	p{
		display: inline-block;
		vertical-align: middle;
	}

	&__title
	{
		color:@green-basic;
		font-weight: bold;
		font-size: 16px!important;
		padding-left: 5px;

	}

	&-cellone{
		border-right: 2px solid @grey-aks;
		font-size: 14px;
		display: table-cell;
		vertical-align: middle;
		padding-left: 5px;
		border-top: 1px solid @grey-aks;
		border-bottom: 1px solid @grey-aks;
	}
	&-celltwo{
		border-right: 2px solid @grey-aks;
		font-size: 14px;
		text-align: center;
		display: table-cell;
		border-top: 1px solid @grey-aks;
		border-bottom: 1px solid @grey-aks;
		vertical-align: middle;
	}
	&-cellthree{
		font-size: 14px;
		text-align: center;
		display: table-cell;
		border-top: 1px solid @grey-aks;
		border-bottom: 1px solid @grey-aks;
		vertical-align: middle;
	}
	&-celltwothree{
		font-size: 14px;
		text-align: center;
		display: table-cell;
		border-top: 1px solid @grey-aks;
		border-bottom: 1px solid @grey-aks;
		vertical-align: middle;
	}
}

.cleaning-general-list{
	font-size: 14px;
	&__item{
		padding-left: 60px;
		margin-bottom: 15px;
		text-indent: 20px;
		background: url('../img/advantages/person.png') no-repeat 0% 20%;

		&-mop{
			background: url('../img/advantages/mop.png') no-repeat 0% 20%;
		}

		&-car{
			background: url('../img/advantages/car.png') no-repeat 0% 20%;
		}

	}
}