.feedbacks
{
	margin-top: 50px;

	&__arrow
	{
		font-size: 19px;
		color:@green-basic;
		margin-bottom: 30px;
	}

	&__img
	{
		img
		{
			width: 100%;
		}
		margin-bottom: 5px;
	}

	&__name
	{
		text-align: center;
		margin-bottom: 15px;
		font-size: 16px;
	}

	&__more
	{
		text-align: center;
		margin-bottom: 30px;
		a
		{
			color:@grey-basic;
			font-weight: bold;
			font-size: 19px;

			&:hover
			{
				color:@green-basic;
			}
		}
	}
}

.section-feedbacks{
	position: relative;
	img{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-right: 10px;
	}
	p{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		font-size: 16px;
		font-style: oblique;
		font-weight: normal;
	}

	&__feedback{
		font-size: 0;
		margin-bottom: 10px;
	}
	&__link
	{
		position: absolute;
		content: "<a href='#'>Туда</a>";
		width: 120px;
		height: 90px;
		bottom: 30px;
		right: -140px;
		background: url('../img/btns/more_feedback.png') no-repeat;
		background-size: 120px;
	}
}

