.footer
{
	background-color: @grey-basic;
	position: relative;
	padding: 10px 0;
	margin-top: 40px;
	min-height: 87px;
	min-width: @wrapper-width;

	a
	{
		&:hover
		{
			color:@green-basic;
		}
	}
	&__copyright
	{
		color:#A0A0A0;
	}

	&__politics
	{		
		margin-right: 10px;
		a
		{
			color:#A0A0A0;		
		}		
	}	

	&__nav
	{
		text-align: center;
		&-link
		{
			a
			{
				color: #A0A0A0;
			}
		}
	}

	&__adress
	{
		color:#A0A0A0;
		text-align: center;
		a
		{
			color:#A0A0A0;
		}
	}

	&__contacts
	{
		text-align: right;
		&-tel
		{
			font-size: 32px;
			color: @grey-another;		
            font-family: Helvetica;
			font-weight: bold;
			span
			{
				font-size: 22px;
			}
		}

		&-call-us
		{
			font-size: 22px;
			color:@grey-another;
			margin-right: 10px;
		}
	}

	.line
	{  	 
	  & [class^=col-]
	  {
	    vertical-align: middle;  
	  }
	}

	&:after
	{
		content: "";
		position: absolute;
		height: 65px;
		width: 65px;
		background: url('../img/body/logo_xs.png') no-repeat;
		background-size: 100%;
		left: 0;
		right: 0;
		margin: auto;
		top: -32px;
	}

	.fb_iframe_widget{
		right: 10px;
	}
}