.form-base
{
	background: url('../img/forms/apartmentsform_background.jpg');
	width: 100%;
	//box-shadow: 1px 1px 1px @grey-aks;
	padding: 20px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	//min-height: 320px;
	border: 1px solid #515151;

	/*
		position: relative;
		&:before {
			content: "";
	    width: 100%;
	    min-height: 100%;
	    background: rgba(73,92,95,.45);
	    position: absolute;
	    top: 0;
	    left: 0;
		}
	*/

	.ajax-loader
	{
		display: none;
	}

	&__promo
	{
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		width: 80%;
		margin-bottom: 15px;
		clear: both;


		&-title
		{
			font-size: 35px;
    		font-weight: bold;
			text-transform: uppercase;
			color:@green-basic;
			&--mb
			{
				margin-bottom: 20px;
			}
		}

		&-txt
		{
			font-size: 27px;
			font-weight: bold;
			text-transform: uppercase;
			color:@grey-basic;

			&--mb
			{
				margin-bottom: 20px;
			}
		}
	}

	&__txt
	{
		width: 50%;
		margin-bottom: 15px;
	}

	&-btns
	{
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		width: 45%;

		&__txt
		{
			border: 1px @grey-basic solid;
			border-radius: 5px;
			color: @grey-basic;
			font-size: 16px;
			text-align: left;
			box-shadow: 1px 1px 1px #B1D29D;
			display: inline-block;
			vertical-align: middle;
			padding: 5px;
			width: 270px;
			margin-bottom: 2px;
		}

		input[type="submit"].form-base-btns__submit/*Для WP */
		{
			display: inline-block;
			vertical-align: middle;
			font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
			font-size: 17px;
			font-weight: 700;
			color: rgb(245,245,245);
			text-shadow: 0 -1px rgba(0,0,0,.1);
			text-decoration: none;
			user-select: none;
			padding: .3em 1em;
			outline: none;
			border: none;
			border-radius: 3px;
			margin-top: 5px;
			background: #496f33 linear-gradient(to top, #496f33, #7db55b );
			box-shadow: inset #496f33 0 -1px 1px, inset 0 1px 1px #496f33, #496f33 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;

			&:hover
			{
			  -webkit-animation-play-state: paused;
			  animation-play-state: paused;
			  cursor: pointer;
			}
			&:active
			{
			  top: 1px;
			  color: #fff;
			  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
			  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
			}
		}
	}

	&--main
	{
		background: url('../img/forms/mainform_background.jpg');
		background-size: cover;
		min-height: 320px;

		.form-base__promo
		{
			text-align: right;
			float: right;
			margin-bottom: 40px;

		}
		.form-base-btns
		{
			text-align: right;
			width: 55%;
			float: right;
		}
	}

	&--apartments
	{
		background: url('../img/forms/apartmentsform_background.jpg');
		background-size: cover;

	}

	&--build
	{
		background: url('../img/forms/build_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			float: right;
		}
	}

	&--repair-base
	{
		background: url('../img/forms/repair_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 85%;
			float: right;
		}

	}

	&--general-basic
	{
		background: url('../img/forms/cleangeneral_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 55%;
			float: right;
		}
	}


	&--complex-basic
	{
		background: url('../img/forms/complex_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 55%;
			float: right;
		}
	}

	&--office-repair
	{
		background: url('../img/forms/office_repair_background.jpg');
		background-size: cover;
		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}

	&--repair-basic
	{
		background: url('../img/forms/repeatclean_background.jpg');
		background-size: cover;
	}




	&--room-repair
	{
		background: url('../img/forms/room_repair_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}

	&--office
	{
		background: url('../img/forms/office_background.jpg');
		background-size: cover;
	}

	&--room
	{
		background: url('../img/forms/room_background.jpg');
		background-size: cover;
	}

	&--shop
	{
		background: url('../img/forms/shop_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 55%;
			float: right;
		}
	}

	&--factory
	{
		background: url('../img/forms/factory_background.jpg');
		background-size: cover;
	}

	&--area
	{
		background: url('../img/forms/area_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}


	&--stock
	{
		background: url('../img/forms/stock_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}


	&--snow
	{
		background: url('../img/forms/snow_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}

	&--house
	{
		background: url('../img/forms/houseform_background.jpg');
		background-size: cover;
	}


	&--dry-cleaning
	{
		background: url('../img/forms/dryclean_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}

	&--dry-cleaning-covrolin
	{
		background: url('../img/forms/dryclean_covrolin_background.jpg');
		background-size: cover;
	}

	&--dry-cleaning-furniture
	{
		background: url('../img/forms/dryclean_furniture_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}

	&--dry-cleaning-sofa
	{
		background: url('../img/forms/dryclean_sofa_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}

	&--dry-cleaning-carpet
	{
		background: url('../img/forms/dryclean_carpet_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}

	&--dry-cleaning-arm-chair
	{
		background: url('../img/forms/dryclean_arm-chair_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}


	&--windows
	{
		background: url('../img/forms/windows_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 55%;
			float: right;
		}
	}

	&--cottage-complex
	{
		background: url('../img/forms/cottage_complex_background.jpg');
		background-size: cover;


		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 55%;
			float: right;
		}
	}

	&--cottage-repair
	{
		background: url('../img/forms/cottage_repair_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 55%;
			float: right;
		}
	}



	&--repeat
	{
		background: url('../img/forms/repeatform_background.jpg');
		background-size: cover;
	}

	&--repair
	{
		background: url('../img/forms/repairform_background.jpg');
		background-size: cover;
	}

	&--general
	{
		background: url('../img/forms/generalcleanform_background.jpg');
		background-size: cover;
	}

	&--complex
	{
		background: url('../img/forms/complexform_background.jpg');
		background-size: cover;
		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
	   		width: 55%;
	   		float: right;
		}
	}

	&--cottage
	{
		background: url('../img/forms/uborka_koteja.jpg');
		background-size: cover;



	}

	&--cottage-repeat
	{
		background: url('../img/forms/cottage_repeat_background.jpg');
		background-size: cover;
	}

	&--cottage-general
	{
		background: url('../img/forms/cottage_general_background.jpg');
		background-size: cover;
	}

	&--house-general
	{
		background: url('../img/forms/house_general_background.jpg');
		background-size: cover;

		.form-base__promo
		{
			text-align: right;
			float: right;
		}
		.form-base-btns
		{
			text-align: right;
			width: 75%;
			float: right;
		}
	}

	&--house-repeat
	{
		background: url('../img/forms/house_repeat_background.jpg');
		background-size: cover;
	}

	&--house-repair
	{
		background: url('../img/forms/house_repair_background.jpg');
		background-size: cover;
	}
}

.form-aside
{

	background: linear-gradient(@green-basic, @green-another,  @green-basic);
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid @grey-aks;

	img
	{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: 1px solid white;
	}

	&__title
	{
		text-align: center;
		color:#fff;
		font-weight: bold;
		font-size: 19px;
		margin-bottom: 20px;
	}

	&__manager
	{
		font-size: 12px;
	}

	&__label
	{
		color:#fff;
		font-size: 15px;
	}

	&__txt
	{
		width: 100%;
		margin-bottom: 5px;
		resize: none;
		font-size: 15px;
		border-radius: 1px;
    	border: none;
    	height: 25px;
	}

	#form-aside__txt-area
	{
		height: 80px;
	}

	input[type="submit"].form-aside__submit
	{
		font-size: @font-size-up;
		width: 100%;
		font-weight: 700;
		color: @grey-basic;
		text-shadow: 0 -1px rgba(0,0,0,.1);
		text-decoration: none;
		padding: .3em 1em;
		outline: none;
		border: 1px solid #6B8E23;
		border-radius: 5px;
		margin-top: 5px;
		background:  @white-basic;
		background: linear-gradient(to bottom, #FFFFFF, #DCDCDC);
		//box-shadow: inset #496f33 0 -1px 1px, inset 0 1px 1px #496f33, #496f33 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;

		&:hover
		{
		  cursor: pointer;
		}

		&:active
		{
		  top: 1px;
		  color: @grey-aks;
		  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
		  box-shadow: 0 -1px 1px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
		}
	}
}

.form-call-rating
{
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 10px;
	position: relative;
	margin-bottom: 50px;
	text-align: center;

	&__title
	{
		font-weight: bold;
		font-size: 16px;
	}

	&__call
	{

		font-weight: bold;
		font-size: 16px;
		margin-bottom: 20px;
	}

	&__txt
	{
		border: 1px @grey-basic solid;
		border-radius: 5px;
		color: @grey-basic;
		font-size: 16px;
		text-align: left;
		box-shadow: 1px 1px 1px #B1D29D;
		display: inline-block;
		vertical-align: middle;
		padding: 5px;
		width: 200px;
		margin-bottom: 2px;
	}

	&__submit
	{
		border: 1px #808080 ridge;
		border-radius: 5px;
		background-color: @green-basic;
		text-align: center;
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;
		padding: 10px 15px;
		width: 200px;
		display: inline-block;
		vertical-align: middle;
		margin-top: 10px;
	}
}

.form-green
{
	padding: 20px;
	background: linear-gradient(#496f33, #7db55b, #496f33);
	font-size: 0;
	border-radius: 5px;
	//margin-bottom: 10px;

	&__head
	{
		margin-bottom: 15px;
	}
	&__txt{
		display: inline-block;
		vertical-align: middle;
		width: 90%;
		p{
			font-size: 25px;
			color:#fff;
		}
	}
	img{
		display: inline-block;
		vertical-align: middle;
		width: 10%;
	}

	&__input-txt
	{
		width: 180px;
		height: 35px;
		border-radius: 5px;
		font-size: 15px;
		padding-left: 5px;
		margin-right: 15px;
		outline: none;
		border: 1px solid @grey-aks;
	}

	&__input-tel
	{
		width: 180px;
		height: 35px;
		border-radius: 5px;
		font-size: 15px;
		padding-left: 5px;
		margin-right: 15px;
		outline: none;
		border: 1px solid @grey-aks;
	}

	&__input-submit
	{
		width: 180px;
		height: 35px;
		border-radius: 5px;
		font-size: 15px;
		padding-left: 5px;
		margin-right: 15px;
		border: 1px solid #6B8E23;
		text-decoration: none;
		background: linear-gradient(to bottom, #ffffff, #dcdcdc);
		font-size: 16px;
/*

	    font-weight: 700;
	    color: #515151;
	    text-shadow: 0 -1px rgba(0, 0, 0, 0.1);

	    padding: .3em 1em;
	    outline: none;

	    border-radius: 5px;
	    margin-top: 5px;
	    background: #fafafa;

*/
	}
}

.form-ugly
{
	border: 1px solid @grey-aks;
	border-radius: 10px 10px 0 0;
	box-shadow: 3px 3px 3px @grey-shadow;
	background-color: rgba(255, 255, 255, 0.35);
	padding: 20px;
	margin-bottom: 20px;

	&__line{
		margin-bottom: 15px;
	}

	&__title{
		font-size: 20px;
    	font-weight: bold;
		color:  @green-basic;
		text-align: center;
		&:last-of-type
		{
			margin-bottom: 20px;
		}
	}

	input[type="text"], input[type="tel"]{
		border-radius: 5px;
		margin-right: 5px;
		padding-left: 5px;
		width: 140px;
	}

	select{
		border-radius: 5px;
		margin-right: 5px;
		padding-left: 5px;
	}

	span{
		margin-right: 5px;
	}

	input[type="submit"]{
		text-transform: uppercase;
		background: linear-gradient(#496f33, #7db55b, #496f33);
		border-radius: 5px;
		border: none;
		font-size: 20px;
		padding: 5px 35px;
		color:#fff;
		margin-left: 150px;
		font-weight: bold;
	}
}

div.wpcf7 img.ajax-loader {
    display: none;
}