.header
{
	background: @white-basic;
	position: fixed;
	top:0;
	width: 100%;
	box-shadow: 1px 1px 2px @grey-ligt-aks;
	font-size:@font-size-base;
	z-index: 100;

	.color_line
	{
		background-color: #515151;
		height: 1px;
	}

	&__nav
	{
		text-align: justify;
   		line-height: 0;

		&:after
        {
            width: 100%;
            height: 0px;
            visibility: hidden;
            overflow: hidden;
            content: '';
            display: inline-block;
        }

		&-item
		{

			display: inline-block;
			vertical-align: top;
			line-height: normal;
			position: relative;
			a
			{
				color:@grey-basic;
				display: inline-block;
				vertical-align: middle;
				padding: 2px 5px;
				font-size: 16px;
				&:hover
				{
					color: @green-basic;
				}
			}
			&:last-child
	        {
				margin-right: 0;
	        }
		}
	}
	&__tizer
	{
		float: left;
		margin-top: 10px;

		&-logo
		{
			display: inline-block;
			vertical-align: middle;
			img
			{
				height:33px;
				margin-right: 15px;
			}
		}



		&-promo
		{
			display: inline-block;
		    vertical-align: middle;
		    font-size: 14px;
		    margin-bottom: 8px;
		}
	}

	&__contacts
	{
		float: right;
		text-align: right;
		&-tel
		{
			font-weight: bold;
			font-size: 26px;
			font-family: Helvetica;
			line-height: 26px;
			color: @grey-basic;
			span
			{
				font-size: 20px;
				color:@green-basic;
			}
		}

		&-call-us
		{
			color:@green-basic;
			font-size: 14px;
		}
	}

	.line
	{
	  & [class^=col-]
	  {
	    vertical-align: middle;
	  }
	}
}

.header__nav-toggle{
	display: none;
}