.generate-columns(@n,@i:1) when (@i=<@n)
{  
  .col-@{i}
  {
    width:(@i*100%/@n);       
  }
  .generate-columns(@n, (@i+1));
}

.generate-10columns(@n,@i:1) when (@i=<@n)
{  
  .col-10-@{i}
  {
    width:(@i*100%/@n);       
  }
  .generate-10columns(@n, (@i+1));
}
.generate-10columns(10);
.generate-columns(12);

.wrapper
{
  margin: 0 auto;
  width: @wrapper-width;
}

.line
{  
  margin:0 -(@wrapper-margin);
  font-size: 0;  
  & [class^=col-]
  {
    display: inline-block;
    vertical-align: top;  
    padding: 0 @wrapper-margin;
    font-size: @font-size-base;    
  }

  &--center{
    text-align: center;
  }

  &--mb-10
  {
    margin-bottom: 10px;    
  }
  &--mb
  {  
    margin-bottom: 30px;
  }
  &--mb-100
  {
    margin-bottom: 200px;
  }
}

.pull-right
{
  float: right;
}

.pull-left
{
  float: left;
}



.row
{  
  font-size: 0;  
  & [class^=col-]
  {
    display: inline-block;
    vertical-align: top;  
    padding: 0 @wrapper-margin;
    font-size: @font-size-base;
  }

  & [class^=col-]:first-child
  {
    padding-left:0;
  }

  & [class^=col-]:last-child
  {
    padding-right:0;
  }
}

.clearfix 
{
  &:after, &:before 
  {
    content: "";
    display: table;
    clear: both;
  }
}

.hidden
{
  display: none;
}