.main
{
	margin-top: 50px;
	&__txt
	{
		font-size: @font-size-base;
		a
		{
			color:@grey-basic;
		}

		&:last-of-type
		{
			margin-bottom: 20px;
		}
	}
}


.services
{
	&__title
	{
		color:@green-basic;
		font-size: 20px;
		margin-bottom: 40px;
		&--non-mb
		{
			margin-bottom: 10px;
		}
	}

	&__section
	{
		background-color: rgba(255, 255, 255, 0.35);
		border-radius: 10px;
		padding: 10px;
		border:1px solid @grey-ligt-aks;
		padding-left: 65px;
		box-shadow: 3px 3px 3px @grey-shadow;

		position: relative;
		margin-bottom: 50px;
		margin-left: 45px;

		h2>a
		{
			color:@grey-ligth;
			margin-bottom: 15px;
			font-size: 18px;
		}

		ul
		{
			list-style-type: disc;
			li>a
			{
				font-size: @font-size-base;
				color:@grey-ligth;
			}
		}

		&:before
		{
			position: absolute;
			height: 78px;
			width: 84px;
			background: url('../img/sections/flat.png');
			left: -40px;
			top: -20px;
			content: "";
		}

		&--balcony
		{
			h2
			{
				margin: 0;
			}
			&:before
			{
				background: url('../img/sections/balcony.png');
			}
		}

		&--house
		{
			&:before
			{
				background: url('../img/sections/house.png');
			}
		}

		&--cottage
		{
			&:before
			{
				background: url('../img/sections/cottage.png');
			}
		}

		&--dry-cleaning
		{
			&:before
			{
				background: url('../img/sections/dry-cleaning.png');
			}
		}

		&--office
		{
			&:before
			{
				background: url('../img/sections/office.png');
			}
		}

		&--placement
		{
			&:before
			{
				background: url('../img/sections/placement.png');
			}
		}

		&--snow
		{
			&:before
			{
				background: url('../img/sections/snow.png');
			}
		}

		&--territory
		{
			&:before
			{
				background: url('../img/sections/territory.png');
			}
		}

		&--dry-cleaning-office
		{
			&:before
			{
				background: url('../img/sections/dry-cleaning-office.png');
			}
		}

		&--mountaineering
		{
			&:before
			{
				background: url('../img/sections/mountaineering.png');
			}
		}

		&--spec
		{
			&:before
			{
				background: url('../img/sections/spec.png');
			}
		}
	}
}



.oferta
{
	color:#A0A0A0;
	font-size:11px;
	margin-bottom: 30px;
}