#___plusone_0
{
    iframe
    {
        display: block;
    }
}

.list-dot{
    padding-left: 10px;
    list-style-type: circle;
}

.fb-like
{
    iframe
    {
        display: block;
    }
}

.g-plus
{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
}

.img-wrap
{
    margin-bottom: 20px;
    overflow: hidden;

    img
    {
        width: 100%;
        border-radius: 5px;
        border: 1px solid @grey-aks;
    }
}

.work-list
{
    text-align: center;

    &__img
    {
        width: 80%;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 15px;
    }

    &__txt
    {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
    }
}


.info-section
{
    &__wrap
    {
        padding: 20px;
    }

    border: 1px solid @grey-aks;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    box-shadow: 3px 3px 3px @grey-ligt-aks;
    margin-bottom: 20px;

    &--center
    {
        text-align: center;
    }

    &__title
    {
        font-size: 20px;
        font-weight: bold;
        color:  @green-basic;
        margin-bottom: 20px;
    }

    &__sub-title
    {
        font-size: 20px;
        font-weight: bold;
        color:  @green-basic;
        margin-bottom: 20px;
        text-align: center;
    }

    &__text
    {
        img
        {
            max-width: 300px;
            max-height: 300px;
            float: left;
            margin: 2px 10px 10px 0;
            border: 1px solid @grey-basic;
            border-radius: 5px;

        }
    }

    &__img
    {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #000;
    }

    &__atention
    {
        padding-left: 80px;
        &-title
        {
            margin-bottom: 10px;
            font-weight: bold;
        }
        background: url('../img/advantages/atention.png') no-repeat 0% 20%;
        background-size: 65px;
        min-height: 70px;
        margin-top: 20px;
    }

    &__img-sm
    {
        width: 25%;
    }

    &__video
    {
        display: inline-block;
        vertical-align: middle;
        width: 98%;
        padding: 5px 0;
        border: none;

        &-desc
        {
            padding-bottom: 5px;
        }
    }

    &--404
    {
        text-align: center;
        min-height: 400px;
    }

    &__tel
    {
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.cycloneslider-template-standard .cycloneslider-pager span
{
    background-color:#496f33;
}