@media (max-width: @resolution-mobile) 
{

	.generate-columns(@n,@i:1) when (@i=<@n)
    {  
        .col-mobile-@{i}
        {
            width:(@i*100%/@n);       
        }
        .generate-columns(@n, (@i+1));
    }

	.generate-columns(12);

	.col-mobile-0
	{
		display: none!important;		
	}

	.wrapper
	{
 		width:  @wrapper-width-mobile;
	}

	.info-section__wrap 
	{
    	padding: 10px;
	}

	.cleaning-repeat-table-celltwo{
		overflow: hidden;
	}

	.page-title{
		padding: 0 5px;
	}

	.cleaning-repeat-list__item{
		padding-left: 0;
		padding-top: 60px;		
		background-position:  50% 0;
	}

	.info-section__atention {
		padding-right: 5px;
		padding-bottom: 5px;
	}

	.line--mb 
	{
    	 margin-bottom: 0; 
	}

	.info-section__atention {
		padding-left: 0;
		padding-top: 60px;
		background-position: 50% 0;
	}

	//HEADER
	.header
	{
	   width: 100%;
	}
	.header__tizer-logo-wrap{
		text-align: center;
	}
	.header__nav-item{
		display: block;
	}
	.header__nav{
		text-align: center;
	}
	.header__contacts{
		text-align: center;
		float: none;
	}

	.contacts{
		margin-top: 80px;
		min-height: 0;
	}

	.map{
		display: none;
	}

	.header__nav-toggle
	{
		display: inline-block;
		vertical-align: middle;		
		
		padding: 5px;
		background-color: transparent;
		background-image: none;
		border: none;
		outline: none;

		&-bar
		{
			display: block;
			width: 18px;
			height: 2px;
			margin-bottom: 4px;
			border-radius: 1px;
			background-color: #515151;
			
			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}

	.service-list p 
	{		
		display: inline-block;		
		vertical-align: middle;
		margin-bottom: 20px;
		
	}

	.main
	{
		margin-top: 80px;
	}

	.jobs 
	{
    	margin-top: 80px;
    	min-height: 250px;
	}

	.feedbacks
	{
    	margin-top: 80px;
    	text-align: center;
	}

	.info-section__title{
		padding: 0 10px;
	}

	.paragraph
	{    	
    	padding: 0 5px;
    	margin-bottom: 5px;
	}

	.form-green 
	{
	    padding: 5px;
	   	margin: 5px;
	   	text-align: center;
	}

	.form-green__txt
	{
	    width: 100%;
	    text-align: center;
	    margin-bottom: 10px;
	}

	.form-green  img
	{
	    width: 40%;
	    margin-bottom: 10px;
	}	

	.form-green__input-txt 
	{
    	width: 90%;
    	margin-right: 0;
    	margin-bottom: 5px;
    }

    .form-green__input-tel
    {
		width: 90%;
    	margin-right: 0;
    	margin-bottom: 5px;
    }

    .form-green__input-submit
    {
    	width: 90%;
    	margin-right: 0;
    	margin-bottom: 5px;
    }


	//BASEFORM
	.header__nav
	{
		display: none;
	}

	.form-base__promo 
	{
		width: auto;
	}

	.form-base .form-base__promo 
	{
    	text-align: center;
    	float: none;
	}
	.form-base-btns__submit {
		font-size: 15px;
		min-width: 260px;
		min-height: 35px;
	}

	.header__contacts-call-us{
		display: none;
	}

	.form-base
	{
		margin-bottom: 30px;
		padding: 0;
		text-align: center;
	}

	.form-base-btns__txt
	{
		width: 250px;
	}

	.form-base .form-base-btns{
		width: auto;
		text-align: center;
		max-width: none;
		float: none;
	}

	.form-base__promo-title{
		font-size: 30px;
	}
	.form-base__promo-txt{
		font-size: 20px;
	}
	.form-base__promo-txt&:last-child{
		margin-bottom: 30px;
	}

	.advantages_list{
		display: none;
	}
	

	.services
	{
		padding: 0 5px;
	}

	.main__txt
	{
		padding: 0 5px;
	}

	.about__map
	{
		margin: 0 5px;
	}

	.about__list
	{
		margin: 0 5px 20px 5px;
	}

	.about
	{    
    	min-height: 0;
    	margin-top: 80px;
	}

	.bread-crumbs {
	    margin: 10px;
	}

	.advantages
	{
	    margin-top: 100px;
	}

	.advantages_table__cell
	{
	    width: 100%;
		margin: 0 5px;
		margin-bottom: 20px;
	}

	.advantages_table__cell-title 
	{   
    	line-height: 35px;
	}

	.info-section
	{
		margin: 5px; 
		margin-bottom: 20px;
		text-align: center;
	}

	.cleaning-list__title{
		font-size: 20px;
	}

	.advantages__advantage-company
	{
	    text-align: center;
	}

	.advantages__advantage-company-icon
	{
		width: 120px;
		height: 120px;
	}
	
	.advantages__advantage-company-icon-wrapper
	{	
	    width: 40%;
	    padding: 0;
	    margin-bottom: 10px;
	}

	.section-feedbacks__link{
		display: none;
	}

	.form-ugly
	{
		margin: 0 5px;
	}

	.form-ugly__line 
	{	 
	    text-align: center;
	}

	.form-ugly span
	{

	    display: block;
	    text-align: center;
	    margin-bottom: 5px;
	}

	.form-ugly input[type="text"], .form-ugly input[type="tel"], select {
	   margin-bottom: 10px;
	   width: 250px;
	   height: 30px;
	}

	.form-ugly input[type="submit"]{
		margin-left: 0;
	}

	.service{
		margin-top: 80px;
	}
	.bread-crumbs{
		display: none;
	}

	.info-section__img{
		margin-bottom: 20px;
	}

	.form-base__promo-title
	{		
		margin-bottom: 10px;
	}

	.form-base__promo{
		margin-top: 40px;
	}

	.bread-crumbs li
	{		
		display: block;
	}

	.work-list__txt{
		font-size: 20px;
		margin-bottom: 20px;
	}

	.cleaning-list__item-link {
		right: 10px;
	}

	.cleaning-general-list__item {
	    padding-left: 0;
	    padding-top: 60px;	
	    margin-bottom: 15px;
	    text-indent: 20px;
	    background-position: 50% 0%;
	}

	.section-feedbacks__feedback {
		margin-bottom: 40px;
	}

	//FOOTER
	.footer{
		text-align: center;
		display: block;
		padding-top: 30px;		
		min-width: auto;
	}

	.footer__contacts
	{
    	text-align: center;
	}
	.footer__adress{
		display: none;
	}
	.footer__politics{
		display: none;
	}

}