*
{
	margin: 0;
	padding: 0;
	line-height: 1.25;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

body
{
	background-image: url(../img/body/background.png);
	background-attachment: fixed;
	font-family: 'Cuprum', sans-serif;
	color: @grey-basic;
	font-size: @font-size-base;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
}

p, ul, h1, h2, h3
{
	padding: 0;
	margin: 0;
}

.link
{
	color: #515151;
	&:hover
	{
		color: #496f33;
	}

	&:visited
	{
		color: #515151;
	}
}

.paragraph
{
	text-indent: 20px;
	a
	{
		color:@grey-basic;			
		&:hover{
			color:	@green-basic;
		}
	}

}

.page-title
{
	font-weight: bold;
	font-size: 19px;
	margin-bottom: 10px;
}

.bread-crumbs
{
	margin-bottom: 10px;
//	border-bottom: 1px solid @grey-ligth;
	li
	{
		display: inline-block;
		vertical-align: middle;
		a
		{
			display: inline-block;
			vertical-align: middle;
			color: @grey-basic;
			font-size: 14px;
			padding-bottom: 2px;
			&:hover
			{
				color:@green-basic;
			}
		}

		

		&:before
		{
			content: "/\00a0";
			padding: 0 5px;
		}
	}

	li:first-child
	{
		&:before
		{
			content: "";
			padding: 0;
		}
	}
}

.mb
{
	margin-bottom: 30px;
}

.mb-xs
{
	margin-bottom: 15px;
}