//Colors
@grey-basic: #515151;
@grey-ligth:#696969;
@grey-aks:#A0A0A0;
@grey-ligt-aks: lighten(@grey-aks, 20%);
@grey-shadow:#dddddd;
@white-basic:#fafafa;
@green-basic:#496F33;
@green-another:#7DB55B;
@grey-another: #DCDCDC;	


//Fonts
@open-sans: 'Open Sans', sans-serif;

//Sizes
@font-size-min:12px;
@font-size-base:16px;
@font-size-up:20px;
@font-size-max:32px;

//Wrappers

@wrapper-width:1000px;
@wrapper-padding:20px;
@wrapper-width-correct:@wrapper-width - @wrapper-padding;
@wrapper-margin:10px;

@photo-size:155px;

//Heights
@header-top-height:110px;
@header-bottom-height: @header-top-height * 1.6;
@section-icon-height:30px;

//Adaptive
@resolution-mobile:640px;

@wrapper-width-mobile:320px;
@wrapper-width-mobile-correct: @wrapper-width-mobile - @wrapper-padding;

@resolution-tablet:940px;
@wrapper-width-tablet:620px;
@wrapper-width-tablet-correct: @wrapper-width-tablet - @wrapper-padding;